@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* colores 

#FFFFFF

#303030

#B79B63

#60195D

#4D4D4D

#EADEC5

#E6E6E6
*/
/* Fuente
font-family: "Montserrat", sans-serif;
font-family: "Dancing Script", cursive;
*/
.contenedorAdministrador {
  flex-grow: 1;
}

.color-boton-admnistrador {
  background-color: #60195D;
}

.section-administrador {
  background-size: cover;
  background-image: url(./assets/living1.jpg);
  background-repeat: no-repeat;

}

.boton-acordion {
  background-color: #f8e7c59d;
}

.titulo-administrador {
  font-family: "Dancing Script", cursive;
}

/*! login estilos */
.fondo-login {
  flex-grow: 1;
  background-image: url('./assets/living3.jpg');
  background-size: cover;
}

.container-login {
  background: rgba(44, 46, 52, 0.529);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  margin-top: 70px;
  margin-bottom: 30px;
}

.boton-login {
  border: #B79B63;
  background-color: #B79B63;
  transition: background-color 0.3s ease;
}

.fuente-crear-cuenta {
  color: #B79B63;
}

.fuente-login {
  font-family: "Dancing Script", cursive;
}

/* estilos sweet alert  */
.contenedor-sweet {
  background: #303030;
  color:#EADEC5;
}

/* lineas del circulo succes */
.swal2-icon.swal2-success .swal2-success-ring {
  border-color: #B79B63;
} 
/* color del tilde */
.swal2-icon.swal2-success [class^='swal2-success-line'] {
  background-color: #B79B63;
}

/* estilo admin tabla */
.imagen-habitacion-admin{
  width: 100px;
  height: 100px;
}

/*! Estilo Crear habitacion  */
.formularioTextArea {
  resize: none;
  overflow-y: auto;
}

.color-inputs:focus,
.color-inputs:active {
  border-color: #B79B63;
  box-shadow: 0 0 0 0.25rem rgba(183, 155, 99, 0.25);
}

.container-formulario-habitacion {
  background: rgba(44, 46, 52, 0.529);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}