@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Fuente
font-family: "Montserrat", sans-serif;
font-family: "Dancing Script", cursive;
*/

/* colores 
#FFFFFF

#303030

#B79B63

#60195D

#4D4D4D

#EADEC5

#E6E6E6
*/


#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  
}

.somos{
 
margin-top: 100px;
}

.texto-somos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titulo-somos{
  text-align: center;
}

.img-somos{
	object-fit: cover;
	height: 200px;
  filter:grayscale()
  
}

.image-container {
  position: relative;
  text-align: center;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.centered-text {
  max-width: 90%; 
  text-align: center;

  
}

.img-somos2{
  object-fit:cover;
  height: 400px;
}