.fondo-formulario-Usuario{
    
    flex-grow: 1;
    background-image: url('./assets/paisaje2.jpeg');
    background-size: cover;
}

.titulo-usuario{
    margin-top: 65px;
    background: rgba(44, 46, 52, 0.529);
   width: 300px;
   border-radius: 10px;
}
.container-formulario-Usuario {
    background: rgba(44, 46, 52, 0.529);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    width: 400px;
  }

  .boton-formulario-Usuario{
    border: #B79B63;
    background-color: #B79B63;
    transition: background-color 0.3s ease;
  }
  

.contenedor-sweet {
  background: #303030;
  color:#EADEC5;
}


.swal2-icon.swal2-success .swal2-success-ring {
  border-color: #B79B63;
} 

.swal2-icon.swal2-success [class^='swal2-success-line'] {
  background-color: #B79B63;
}